{% extends 'base.html' %}

{% block content %}

  <div class="mb-5" style="display: flex; justify-content: flex-end;">
    <a class="btn btn-primary" href="{% url 'portfolios:item_create' %}" role="button">Add new item</a>
  </div>

<div class="row">

  <!-- First column -->
  <div class="col-4">

    <!-- Navigation -->
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
    </div>
    <!-- Navigation -->

  </div>
  <!-- First column -->

  <!-- Second column -->
  <div class="col-8">

    <!-- Content -->
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
    <!-- Content -->

  </div>
  <!-- Second column -->

</div>
{% endblock content %}